
 <html lang="en">
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
  <title></title>
          
<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet" type="text/css">

<!--   CSS for 147 Colors   -->
<link href="http://www.colorname.xyz/style.css" rel="stylesheet" type="text/css"> 
    
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="../../static/css/cards.css">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
  <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="/login/home">Home</a>
                <a class="navbar-brand topnav" href="/profile/profile">Profile</a>
                <a class="navbar-brand topnav" href="/books/delete_books">My Books</a>
                <!-- <a class="navbar-brand topnav" href="/books/delete_books">Books Guide</a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/home/bookguide">Books Guide</a>
                    </li>
                    <li>
                        <a href="/home/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/home/contact">Contact Us</a>
                    </li>
                    <li>
                        <a href="/login/logout">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<br><br><br><br>
<br>
<br>

<header class="lv-bg">
  <h1 class="site-title">My Buyers</h1>
</header>
  


<div class="container-fluid inner">
  <table class="tableizer-table">
  <tr class="tableizer-firstrow">
          <thead>
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Price</th>
                <th>Buyer</th>
                <th>Phone</th>
  </tr>
  </thead>
      {% for notif in notif %}
        <tr>
          <td>{{notif.book_name}}</td>
          <td>{{notif.author_name}}</td>
          <td> {{notif.price}} </td>
          <td> {{notif.from_user}} </td>
          <td> {{notif.phone}} </td>

        
          <!-- <td><input type="checkbox" name="cbook" value={{book.auto_increment_id}}></input></td> -->
         
        </tr> 
      {% endfor %}
  </tbody>
</table>
<div align="center">
<button type="submit"  value="submit" id="add-button" class="button button2" ><span>Back</span></button>

</div>
  

 <!--  <html lang="en">
<head>
    <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
  <title></title>
          
<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,700" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Muli:300,400" rel="stylesheet" type="text/css">


<link href="http://www.colorname.xyz/style.css" rel="stylesheet" type="text/css"> 
    
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">


</head>

<header class="lv-bg">
  <h1 class="site-title">My Books</h1>
  <p>Manage your books here</p>  
</header>
  
          

  
  <div class="container-fluid inner">
  <table class="tableizer-table">
  <tr class="tableizer-firstrow">
                <th>Book Name</th>
                <th>Author Name</th>
                <th>Subject</th>
                <th>Price</th>
  </tr>
   
   <tr>
  <td>aliceblue</td><td>#F0F8FF</td><td>rgb(240,248,255)</td><td>rgba(240,248,255,0)</td><td>.ab-bg</td>
  </tr>
   
   
  </table>

  </div> -->