<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>Developers</title>


  <!-- <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'> -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
      <link rel="stylesheet" href="../../static/css/dev.css">

</head>
<body>

<div class="order">
<aside class="profile-card" id="one">

  <header>

    <!-- here’s the avatar -->
    <a href="">
      <img src="../../static/img/anant.jpg">
    </a>

    <!-- the username -->
    <h1>Anant Saxena</h1>

    <!-- and role or location -->
    <h2>- NIT Warangal CSE-3/4 -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am Anant Saxena. We have Developed this website using Django.
      <br />I  play well with Photoshop,Premiere Pro cool stuff.
      <br />I would Like to thank Innovation Garage for providing me the right opportunities!
      </p>

  </div>
<!--
   <ul class="profile-social-links">
    <li>
      <a href="http://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>
    <li>
      <a href="http://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>
    <li>
      <a href="http://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>
  </ul> -->
</aside>
<br>
<aside class="profile-card" id="three">

  <header>

    <!-- here’s the avatar -->
    <a href="">
      <img src="../../static/img/poro.jpg">
    </a>

    <!-- the username -->
    <h1>Pratyush Vankadara </h1>

    <!-- and role or location -->
    <h2>- NIT Warangal CSE 3/4 -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am Pratyush Vankadara. I'm interested in Front End development and making web/mobile apps using Ionic.
      <br > I know quite a bit about JS And CSS </p>

  </div>


 <!--  <ul class="profile-social-links">
    <li>
      <a href="http://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>
    <li>
      <a href="http://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>
    <li>
      <a href="http://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>
  </ul> -->

</aside>
<br>
<aside class="profile-card" id="two">

  <header>

    <!-- here’s the avatar -->
    <a href="">
      <img src="../../static/img/vinnu.jpg">
    </a>

    <!-- the username -->
    <h1>Vineeth Kumar </h1>

    <!-- and role or location -->
    <h2>- NIT Warangal CSE 3/4 -</h2>

  </header>

  <!-- bit of a bio; who are you? -->
  <div class="profile-bio">

    <p>Hello there!</p>
    <p>I am Vineeth Kumar .I love C++ <3 <br>
    I also like Web Dev and love Springspree sponsorship team and marketing </p>

  </div>


 <!--  <ul class="profile-social-links">
    <li>
      <a href="http://twitter.com/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-twitter.svg">
      </a>
    </li>
    <li>
      <a href="http://envato.com">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-envato.svg">
      </a>
    </li>
    <li>
      <a href="http://codepen.io/tutsplus">
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/social-codepen.svg">
      </a>
    </li>
  </ul> -->

</aside>
</div>
</body>