<!Doctype html>
<head>
  <meta charset="UTF-8">
  <title>FAQ</title>
  
  
  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Open+Sans:600'>

      <link rel="stylesheet" href="../../static/css/style_login2.css">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  
</head>


<body>
	<nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="/login/home">Home</a>
                <a class="navbar-brand topnav" href="/profile/profile">Profile</a>
                <a class="navbar-brand topnav" href="/books/delete_books">My Books</a>
                <!-- <a class="navbar-brand topnav" href="/books/delete_books">Books Guide</a> -->
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="/books/notif">Potential Buyers</a>
                </li>
                <li>
                    <a href="/home/bookguide">Books Guide</a>
                    </li>
                    <li>
                        <a href="/home/faq">FAQ</a>
                    </li>
                    <li>
                        <a href="/home/contact">Contact Us</a>
                    </li>
                 
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
    <br>
    <br>
    <br>
    <br>
    <div class="list-group">
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Is it Free?</h5>
      
    </div>
    <p class="mb-1">Yes!</p>
    
  </a>
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Can i hack this?</h5>
      
    </div>
    <p class="mb-1">No</p>
    
  </a>
  <!-- <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Can we eat biryani and read?</h5>
      <small class="text-muted">1 year ago</small>
    </div>
    <p class="mb-1">Vineeth</p>
    <small class="text-muted">7 Answers</small>
  </a> -->
</div>
<!-- 	<ol><strong> <u>Frequently Asked Questions </u> </strong>
		<li>
			Is it free??
			<p> Obviously! </p>
		</li>
		<li>
			lorem ipsum ?
			 <p>doler samat </p>
		</li>
	
	</ol>


	 -->

</body>